.only-element {
  color: $white;
  transform: perspective(100px) rotateX(-1deg) translateY(3px) !important;
}

header {
  height: 5%;
  padding: 15px;
  text-align: center;
  display: flex;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.12),0 2px 2px 0 rgba(0,0,0,.24);
  @media (max-width: 767px) {
    flex-direction: column;
  }
  h1 {
    align-self: center;
  }
  nav {
    justify-self: center;
    @media (min-width: 768px) {
      max-width: 400px;
      min-width: 315px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
    padding: 10px 10px;
    .search-form {
      text-align: center;
      .search {
        outline:0;
        position: relative;
        border: 1px solid $basic-blue;
        border-radius: 5px;
        font-size: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
        padding: 20px;
      }
    }
  .suggestions {
    margin: 0;
      padding: 0px 0px;
      position: absolute;
      min-width: 300px;
      min-height: 80px;
      max-height: 230px;
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 5px;
      &.error {
        min-height: 160px;
      }
      @media (max-width: 767px) {
        max-height: 300px;
        min-width: 265px;
        &.warn {
          left: 5px;
        }
      }
      li {
        background: $white;
        list-style: none;
        border-bottom: 1px solid $border-li;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
        margin: 0;
        padding: 20px;
        transition: background 0.2s;
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
        &.clickable {
          cursor: pointer;
          &:hover {
            background: $main-color;
            color: $white;
          }
        }
        // &:nth-child(even) {
        //   transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
        //   background: linear-gradient(to bottom,  $white 0%, $gradient-li 100%);
        // }
        // &:nth-child(odd) {
        //   transform: perspective(100px) rotateX(-3deg) translateY(3px);
        //   background: linear-gradient(to top,  $white 0%,$gradient-li 100%);
        // }
        &.warn {
          @extend .only-element;
          background: linear-gradient(to bottom, $warn-color-2 0%,  $warn-color-1 100%);
        }
        &.error {
          @extend .only-element;
          background: linear-gradient(to bottom, $error-color-1 0%, $error-color-2 100%);
        }
      }
    }
  }
}