//COLORS
$main-color: #1c3553;;
$white: #ffffff;
$basic-orange: #f76923;
$basic-blue: #57c9e8;
$warn-color-1: #d18200;
$warn-color-2: #dfc801;
$error-color-1: #d10000;
$error-color-2: #cc4848;
$border-li: #D8D8D8;
$gradient-li: #EFEFEF;