@import 'reset';
@import 'variables';
@import 'header';
html {
  font-family: Source Sans Pro, sans-serif;
  color: $main-color;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 85%;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  flex: 1;
  section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex: 1;
    padding: 10px 10px;
    max-width: 100%;
    h2 {
      text-align: center
    }
    .chart-container {
      width: 75%;
      align-self: center;
    }
  }
}

footer {
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
  background-color: $main-color;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
  }
}